* {
    margin: 0;
    padding: 0;
}

 body {
    background-color: beige;
 }

 header {
    text-align: center;
    height: 150px;
    background-color: rgb(89, 143, 89);
 }

 main{
   max-width: 100%;
 }

 #city-display {
  padding: 4px;
  margin: 10px;
 }

 .hover-effect {
  text-align: center;
  background-color: beige;
  padding: 10px;
 }

 .hover-effect:hover {
   background-color: lightgrey;
   cursor: pointer;
 }

 .weather-info {
  font-size: 20px;
 }
 .weather-info1 {
  width: 5%;
 }

 .btn-success {
   color: #fff;
   background-color: #198754;
   border-color: #198754;
 }

 .btn-success:hover {
   color: #fff;
   background-color: #157347;
   border-color: #146c43;
 }