* {
    margin: 0;
    padding: 0;
}

 body {
  background:linear-gradient(rgb(182, 190, 143), rgb(63, 63, 240));
 }

 header {
    text-align: center;
    height: 120px;
    background:linear-gradient(rgb(116, 165, 234), rgb(210, 219, 164));
    font-family: monospace;
 }

 h1 {
  margin-top: 20px;
 }

 main{
   max-width: 100%;
   margin-top: 25px;
 }

 #city-display {
  padding: 4px;
  margin: 10px;
 }

 .hover-effect {
  text-align: center;
  background:linear-gradient(rgb(65, 126, 211), rgb(210, 219, 164));
  padding: 10px;
 }

 .hover-effect:hover {
    background:linear-gradient(rgb(105, 59, 105), rgb(71, 67, 67));
    cursor: pointer;
 }

 .weather-info {
  font-size: 20px;
 }
 .weather-info1 {
  width: 10%;
  float: right;
 }

 .city-name {
  background:linear-gradient(rgb(65, 126, 211), rgb(210, 219, 164));
  width: 79%;
  float: left;
  margin-left: 10px;
  padding: 15px;

 }

 .btn-success {
   color: #fff;
   background-color: #198754;
   border-color: #198754;
 }

 .btn-success:hover {
   color: #fff;
   background-color: #157347;
   border-color: #146c43;
 }